.boxButton {
    display: flex;
    background-color: var(--grey-2);
    align-items: center;
    justify-content: space-between;
    width: 350px;
    margin: 1rem auto;
    border-radius: 4px;
    padding: 0 1rem;
}
.boxButton > h2 {
    color: #fff;
}

.boxButton > a {
    background-color: var(--grey-1);
    padding: 0 0.5rem;
    font-weight: 600;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    transition: 200ms;
}

.boxButton > a:hover {
    background-color: var(--grey-2);
}